<nav
  class="navbar navbar-expand-lg m-2 py-3 navbar"
  style="border-bottom: 1px solid rgb(231, 231, 231)"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand nav-link me-auto" routerLink="/"
        ><h4>Nor-Shipping 2019</h4></a
      >
      <ul class="navbar-nav mb-lg-0 ms-auto">
        <li
          class="me-3"
          style="border-left: 3px solid palevioletred; padding-left: 6px"
        >
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">DEALS</h6>
          <h5 class="mt-0">43</h5>
        </li>
        <li
          class="me-3"
          style="border-left: 3px solid rgb(189, 2, 189); padding-left: 6px"
        >
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">
            TOTAL VALUE[NOK]
          </h6>
          <h5 class="mt-0">419 mln</h5>
        </li>
        <li
          class="me-3"
          style="border-left: 3px solid skyblue; padding-left: 6px"
        >
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">HIT RATE</h6>
          <h5 class="mt-0">10%</h5>
        </li>
        <li
          class="me-3"
          style="border-left: 3px solid rgb(1, 204, 1); padding-left: 6px"
        >
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">DEALS WON</h6>
          <h5 class="mt-0">12/65</h5>
        </li>
        <li
          class="me-3"
          style="border-left: 3px solid orangered; padding-left: 6px"
        >
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">NEW CLIENTS</h6>
          <h5 class="mt-0">8/12</h5>
        </li>
      </ul>
      <div class="nav-item dropdown mt-3">
        <a
          class="dropdown-toggle d-flex align-items-baseline"
          href="#listitem"
          data-bs-toggle="dropdown"
        >
          <div class="mb-4">
            <img
              src="../../../assets/user_318-174218.avif"
              class="rounded-circle shadow-1-strong"
              width="50"
              height="50"
            />
          </div>
        </a>
        <ul class="dropdown-menu" id="list-item">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">My Team</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand mt-2 pb-0">
  <div class="container-fluid ms-5">
    <div class="d-flex align-items-center">
      <ul class="navbar-nav mb-lg-0">
        <li class="me-4">
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">
            <i class="fa-solid fa-store"></i> Exhibitors
          </h6>
        </li>
        <li class="me-4">
          <h6
            class="mb-0"
            style="
              color: rgb(10, 10, 168);
              border-bottom: 2px solid rgb(10, 10, 168);
              padding-bottom: 12px;
            "
          >
            <i class="fa-solid fa-basket-shopping"></i>
            Sales
          </h6>
        </li>
        <li class="me-4">
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">
            <i class="fa-solid fa-bag-shopping"></i> Program
          </h6>
        </li>
        <li class="me-4">
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">
            <i class="fa-solid fa-file"></i> Delegates
          </h6>
        </li>
        <li class="me-4">
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">
            <i class="fa-solid fa-gear"></i> Settings
          </h6>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav
  class="navbar navbar-expand"
  style="background-color: #f0f0f0; padding: 12px 0"
>
  <div class="container-fluid ms-5">
    <div class="d-flex align-items-center">
      <ul class="navbar-nav mb-lg-0">
        <li class="me-3">
          <h6
            class="mb-0 rounded"
            style="
              color: rgb(173, 173, 173);
              background-color: white;
              width: 4rem;
              padding-left: 11px;
              height: 1.5rem;
              color: black;
            "
          >
            Deals
          </h6>
        </li>
        <li class="me-3">
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">Activites</h6>
        </li>
        <li class="me-3">
          <h6 class="mb-0" style="color: rgb(173, 173, 173)">Statistics</h6>
        </li>
      </ul>
    </div>
  </div>
</nav>
