.stage{
    width: 19%;
    background-color: #f0f0f0;
    min-height: 90vh
}

@media (max-width:800px) {
    .stage{
        width: 45%;
    }
}
@media (max-width:470px) {
    .stage {
        width: 100%;
    }
}